<!DOCTYPE html>
<html>
<head>
	<link href="css/style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<a href="{{link}}" class="back-link">back to alignments table</a>
	<div class="alignment_description">
		<h3>First sequence <i>{{sp1}}</i>, {{dnalen1}}bp</h3>
		{{#fasta_headers_1}}
  			<p class="fasta-header">{{header}}</p>
		{{/fasta_headers_1}}
		<h3>Second sequence <i>{{sp2}}</i>, {{dnalen2}}bp</h3>
		{{#fasta_headers_2}}
  			<p class="fasta-header">{{header}}</p>
		{{/fasta_headers_2}}
	</div>
	<div class="alignment">
		<pre class="numbers">{{numbers}}</pre>
		<pre class="cursors">{{cursors}}</pre>
		<pre>{{{aseq1}}}</pre>
		<pre>{{{aseq2}}}</pre>
		<br>
		<p>Mismatch count: <strong>{{mismatch_count}}</strong></p>
		<p>Score: <strong>{{score}}</strong></p>
	</div>
	<div class="alignment">
		<pre class="numbers">{{anumbers}}</pre>
		<pre class="cursors">{{acursors}}</pre>
		<pre>{{{aaseq1}}}</pre>
		<pre>{{{aaseq2}}}</pre>
		<br>
		<p>Mismatch count: <strong>{{amismatch_count}}</strong></p>
	</div>
</body>
</html>