body {
	padding-left: 10px;
}

h2 {
	font-family: Helvetica;
	color: #555;
	margin-bottom: 5px;
}

h3 {
	font-family: Helvetica;
	color: #555;
	margin-bottom: 5px;
	font-size: 17px;
}

.back-link {
	margin: 0px;
	padding: 0px;
}

.alignment {
	font-family:Consolas, monospace;
	font-size: 14px;
	line-height: 2px;
	padding-top: 10px;
}

.red {
	background-color: #F9A5A4;
}

.yellow {
	background-color: #FFC800;
}

.numbers {
	line-height: 0px;
	color: #aaa;
}

.cursors {
	line-height: 5px;
	color: #888;
}

.fasta-header {
	margin: 2px;
	padding: 0px;
}